
* 
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
}


body
{
    background-color: rgb(11, 11, 11);
}


.cover
{ 
    margin-top: 10px;
    margin-right: 10px;
    background: url("/static/img/blue2.jpg");
    background-repeat: no-repeat;
    position: relative;
    top: 60px;
    left: 480px;
    background-color: #1A120B;
    background-size: cover;
    height: 620px;
    width: 900px;
}


.cover2
{
    background: url("/static/img/7.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
}


.data
{ 
    position: absolute;
    float:top;
    margin-top: 10px;
    top: 18%;
    left: 5%;
    height: 10%;
}


.login 
{
    position: relative;
    left: 100px;
    top: 100px;
    bottom: 100px;
}

